.profile-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.profile-wrapper p {
	font-size: .8rem;
	opacity: .6;
	margin-top: 10px;
}

.profile-welcome {
	padding: 20px 0px;
	font-size: 30px;
}

#first-child {
	margin: 0px 0px;
}

.profile-container {
	border: 3px solid #e4e3e3;
	border-radius: 20px;
	margin: 100px 0px
}

.profile-container h3 {
	text-align: center;
	margin: 0 auto;
	font-size: 40px;
}

.card {
	min-width: 300px;
	height: auto;
	position: relative;
	z-index: 10;
	margin: 25px;
	min-height: 356px;
	transition: all .25s ease;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
	cursor: pointer;
	border: 3px solid #e4e3e3;
	border-radius: 20px;
	background-color: #3b6978;
}

.card:hover {
	transform: translate(0, -10px);
	box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.card:hover .con-img {
	transform: translate(0, -15px);
}

.card:hover .con-img img.blur {
	opacity: .45;
	transform: translate(-10px, 26px) scale(.85);
}

.card h3 {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 15px;
}

.card .con-text {
	padding: 20px;
}

.card .con-img {
	width: calc(100% - 60px);
	margin: 0px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .35s ease-out;
}

.card img {
	height: 250px;
}

.card img.blur {
	position: absolute;
	filter: blur(15px);
	z-index: -1;
	opacity: .35;
	transform: translate(-10px, 10px) scale(.85);
	transition: all .35s ease-out;
}

.con-cards {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	padding: 20px 0px;
	scroll-behavior: smooth;
}

.con-cards::-webkit-scrollbar {
	height: 0px;
}
