/* {
    width: 400px;
    height: auto;
	margin: 100px auto;
    overflow: hidden;
} */

.profile-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.profile-wrapper p {
	font-size: .8rem;
	opacity: .6;
	margin-top: 10px;
}

.card {
	width: 300px;
	min-width: 300px;
	height: auto;
	/* background: #e4e3e3; */
	border-radius: 20px;
	position: relative;
	z-index: 10;
	margin: 25px;
	min-height: 356px;
	transition: all .25s ease;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, .08);
	cursor: pointer;
	border: 3px solid #e4e3e3;
	border-radius: 20px;
}

.card:hover {
	transform: translate(0, -10px);
	box-shadow: 0px 17px 35px 0px rgba(0, 0, 0, .07);
}

.card:hover .con-img {
	transform: translate(0, -15px);
}

.card:hover .con-img img.blur {
	opacity: .45;
	transform: translate(-10px, 26px) scale(.85);
}

.card h3 {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 15px;
}

.card .con-text {
	padding: 20px;
}

.card .con-img {
	width: calc(100% - 60px);
	margin: 0px 30px;
	margin-top: -90px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .35s ease-out;
}

.card img {
	height: 300px;
}

.card img.blur {
	position: absolute;
	filter: blur(15px);
	z-index: -1;
	opacity: .35;
	transform: translate(-10px, 10px) scale(.85);
	transition: all .35s ease-out;
}

.con-cards {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	overflow: hidden;
	padding-top: 100px;
	padding-left: 60px;
	padding-right: 50px;
	scroll-behavior: smooth;
}

.con-cards::-webkit-scrollbar {
	height: 0px;
}

.con-cards:after {
	content: '';
	display: block;
	min-width: 20px;
	height: 100px;
	position: relative;
}
/*
.item {
    width: 25%;
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

.item input {
	display: none;
}

.item label {
	display: block;
	padding: 10px;
	font-size: 20px;
    color: #fff;
    background-color: #3b6978;
	cursor: pointer;
	border-bottom: 2px solid #aaa;
}

.item label span {
	padding-left: 240px;
	transform: rotateX(45deg);
}

.item label:hover {
	background-color: #84a9ac;
}

.item ul {
	overflow: hidden;
	max-height: 0;
	transition: all .4s;
	background-color: #fff;
	width: 100%;		
}

.item ul li a {
	width:100%;
	height: 50px;
	background-color:#fafafa;
	display:block;
	text-decoration:none;
	color: #333;
	border-bottom: 2px solid #aaa;
	padding: 10px;
}

.item ul li a:hover {
	background-color:#9CF;
}

.item input:checked ~ ul {
	height:auto;
	max-height:200px;
	transition: all .4s linear;
}

.item input:checked ~ label span{
	
}
*/