/*

Paleta de colores:
Gris = #e4e3e3
Verde claro = #84a9ac
Azul verdoso = #3b6978
Azul marino = #204051

font-family: Playfair Display, sans-serif;

*/

@import './about-us.css';
@import './login.css';
@import './plans.css';
@import './detail.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #204051;
    color: #e4e3e3;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, i, p, a {
    color: #e4e3e3;
}

h3, p, li, input, textarea, button {
    font-family: 'Fauna One', sans-serif;
}

p {
    font-size: 20px;
}

input, textarea, button {
    outline: none;
}

.header {
    display: flex;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
}

.hero {
    padding-bottom: 20px;
}

.links-list {
    padding: 0;
    display: flex;
    font-family: 'Fauna One', sans-serif;
}

.links-list li {
    list-style: none;
    padding: 10px 10px;
}

.links-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #e4e3e3;
    margin: 0px 5px;
}

/* Header - Desktop */

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 90%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.hero-title {
    font-size: 50px;
}

.hero-text {
    grid-column: 1/7;
    padding-right: 20px;
}

.hero-text p {
    text-align: justify;
}

.hero-cta {
    width: 200px;
    background: #3b6978;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    margin-top: 17px;
    font-size: 20px;
}

.hero-img {
    width: 100%;
    height: auto;
    grid-column: 8/13;
    text-align: end;
}

.subtitle {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.img {
    width: 95%;
    max-width: 400px;
}

/* Fin del Header - Desktop */

/* Services - Desktop */

.services {
    height: 300px;
    background: linear-gradient(180deg, #3b6978 100%, #204051 50%)
}

.items {
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 25%;
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;
}

.item i {
    color: #e4e3e3;
    font-size: 50px;
    text-align: center;
}

.service-title {
    margin: 5px 0px;
    font-size: 25px;
}

/* Fin de Services - Desktop */

/* Sobre nosotros - Desktop */

.about-us {
    background: #204051;
    height: auto;
    padding-bottom: 60px;
}

.about-us-text {
    grid-column: 1/-1;
    text-align: center;
    padding-top: 10px;
}

.paragraph {
    margin-bottom: 20px;
}

.about-us-text .paragraph {
    margin-top: 10px;
}

/* Fin de Sobre nosotros */

/* Mission - Desktop */

.mission {
    padding: 0px 0px 80px 0px;
}

.mission-text {
    grid-column: 7/13;
    grid-row: 1/-1;
    margin-bottom: 20px;
}

.mission-paragraph {
    padding-bottom: 30px;
}

.mission-img {
    grid-column: 1/7;
}

/* Fin de Mission - Desktop */

/* Footer - Desktop */

footer {
    background: #3b6978;
    color: #e4e3e3;
    text-align: center;
}

.footer-text {
    grid-column: 1/-1;
}

.footer-item {
    grid-column: span 3;
    font-size: 30px;
    padding: 15px 0;
}

.footer-item a i {
    color: #e4e3e3;
}

.contact {
    background: linear-gradient(180deg, #204051 50%, #3b6978 100%);
    padding: 60px 0;
}

.contact-title {
    line-height: 50px;
}

.contact-wrapper {
    display: grid;
    width: 90%;
    max-width: 1100px;
    height: 90%;
    margin: auto;
    overflow: hidden;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border: 3px solid #e4e3e3;
    border-radius: 20px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-field {
    padding: 10px 0;
}

.contact-field input {
    height: 50px;
    width: 95%;
    padding-left: 10px;
    border-radius: 20px;
}

.contact-field label {
    display: flex;
    text-align: center;
    justify-content: center;
}

.contact-field-text label {
    display: block;
}

.contact-field-text textarea {
    width: 97%;
    padding: 10px 0px 0px 10px;
    border-radius: 20px;
}

.email-wrapper img {
    width: 95%;
    border-radius: 20px;
    opacity: 0.5;
}

.links-footer {
    width: 90%;
    margin: 0 auto;
    line-height: 50px;
}

.links-footer ul {
    display: flex;
    justify-content: space-evenly;
}

.links-footer ul li {
    list-style: none;
}

/* Fin de Footer - Desktop */

@media screen and (max-width: 768px) {
    .header {
        height: auto;
    }

    .grid {
        grid-gap: 30px;
    }

    .hero-img, .hero-text {
        grid-column: 1/-1;
    }

    .hero-img {
        text-align: center;
    }

    .hero-text {
        margin-top: 40px;
    }
    
    .services {
        height: auto;
        margin-top: 40px;
    }

    .items {
        text-align: center;
    }

    .item {
        width: 60%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }

    .mission-img {
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
    }

    .mission-text {
        grid-column: 1/-1;
        grid-row: 1/2;
        align-self: center;
    }
}

@media screen and (max-width: 320px) {
    .img {
        max-width: 170px;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
    }

    .item {
        width: 100%;
    }
}