<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlautUs</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Ubuntu + Fauna One fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@400&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1>
            <a href="/">PlautUs</a>
        </h1>
        <ul class="links-list">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="#">Empezá tu camino</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="login.html">Iniciar sesión</a>
            </li>
        </ul>
    </header>
    <div class="aboutUs-wrapper">
        <div class="about-us-title">
            <h1>
                Nuestra misión
            </h1>
            <h3>
                "No hay que saber todo, sino rodearse de personas que sepan algo."
            </h3>
        </div>
        <h2 class="founders-title">
            Fundadores
        </h2>
        <div class="founders">
            <div class="founder">
                <h2>
                    Martín de la Parra
                </h2>
                <div class="founder-info">
                    <img src="images/WhatsApp Image 2020-07-16 at 1.02.58 AM.jpeg" alt="">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolore non temporibus? Blanditiis, nobis asperiores!
                        Maxime inventore facilis iure iusto?
                    </p>
                </div>
            </div>
            <div class="founder">
                <h2>
                    Joan Segovia
                </h2>
                <div class="founder-info">
                    <img src="images/founderj.jpeg" alt="">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint dolore non temporibus? Blanditiis, nobis asperiores!
                        Maxime inventore facilis iure iusto?
                    </p>
                </div>
            </div>
        </div>
        <div class="experience">
            <div class="experience-child">
                <h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h2>
                <h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odio obcaecati recusandae asperiores,
                    quibusdam ex
                    atque placeat, sapiente vero similique architecto, mollitia voluptatibus saepe! Reprehenderit,
                    voluptatum? Hic,
                    voluptatem. Deleniti, suscipit delectus dolore est et eius!
                </h3>
            </div>
            <div class="experience-child">
                <img src="./ilustrations/undraw_invest_88iw.svg" class="img" alt="">
            </div>
        </div>
        <div class="about-us-title">
            <h1>Lorem ipsum</h1>
            <div class="cen">
                <div class="service">
                    <i class="fas fa-address-card"></i>
                    <h2>Transparencia.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
                <div class="service">
                    <i class="fas fa-graduation-cap"></i>
                    <h2>Profesional.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
                <div class="service">
                    <i class="fas fa-handshake"></i>
                    <h2>Compromiso.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
                <div class="service">
                    <i class="fas fa-comments"></i>
                    <h2>Confiable.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
                <div class="service">
                    <i class="fas fa-shield-alt"></i>
                    <h2>Seguro.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
                <div class="service">
                    <i class="fas fa-users"></i>
                    <h2>Seriedad.</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem laboriosam quisquam eveniet minus.</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="grid">
            <div class="footer-text">
                <h2 class="subtitle">
                    Contacto
                </h2>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/main.js"></script>
</body>
</html>
