<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlautUs</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Ubuntu + Fauna One fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@400&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="detail-wrapper">
        <section class="detail-content">
            <h2>Nuestro contenido</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus eius quas autem tempore ducimus eos suscipit odio, at natus odit ea culpa alias vero quo quis dolores explicabo expedita consectetur. Reprehenderit quod eaque ut, accusamus at iusto. Recusandae, sapiente culpa.
            </p>
            <h2>Matemáticas</h2>
            <div class="detail-description-container">
                <div class="detail-description">
                    <img src="/ilustrations/undraw_mathematics_4otb.svg" alt="" class="img">
                </div>
                <div class="detail-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga reiciendis quo minima necessitatibus nulla expedita neque beatae est dolor, sint dolore? Rerum veritatis, enim aspernatur cupiditate quae amet quis?
                </div>
            </div>
            <h2>Derecho</h2>
            <div class="detail-description-container">
                <div class="detail-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga reiciendis quo minima necessitatibus nulla expedita neque beatae est dolor, sint dolore? Rerum veritatis, enim aspernatur cupiditate quae amet quis?
                </div>
                <div class="detail-description">
                    <img src="/ilustrations/undraw_reading_list_4boi.svg" alt="" class="img">
                </div>
            </div>
            <h2>Finanzas</h2>
            <div class="detail-description-container">
                <div class="detail-description">
                    <img src="/ilustrations/undraw_personal_finance_tqcd.svg" alt="" class="img">
                </div>
                <div class="detail-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga reiciendis quo minima necessitatibus nulla expedita neque beatae est dolor, sint dolore? Rerum veritatis, enim aspernatur cupiditate quae amet quis?
                </div>
            </div>
            <h2>Portafolio</h2>
            <div class="detail-description-container">
                <div class="detail-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga reiciendis quo minima necessitatibus nulla expedita neque beatae est dolor, sint dolore? Rerum veritatis, enim aspernatur cupiditate quae amet quis?
                </div>
                <div class="detail-description">
                    <img src="/ilustrations/undraw_invest_88iw.svg" alt="" class="img">
                </div>
            </div>
        </section>
    </section>
    <%- include('partials/footer') %>
</body>
</html>