<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/navbarUser') %>
    <div class="editProfile-wrapper">
        <div class="editProfile-left">
            <img src="" alt="">
            <h3>Usuario</h3>
            <p>Nombre de membresía</p>
        </div>
        <div class="editProfile-right">
            <div class="info">
                <h3>Información</h3>
                <div class="info data">
                    <div class="data">
                        <h3>Email</h3>
                        <p>usuario@plautus.com</p>
                    </div>
                    <div class="data">
                        <h3>Teléfono</h3>
                        <p>011-2222-1111</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>