<!DOCTYPE html>
<html lang="es">
<head>
<%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="hero">
        <div class="items">
            <div class="grid">
                <div class="hero-text">
                    <h1 class="hero-title">
                        Empezá a invertir
                    </h1>
                    <p>
                        Nuestro propósito es acercarte al mundo financiero, aprendiendo el lenguaje matemático y
                        económico. Además, te asesoraremos en conceptos de finanzas personales y/o consejos para tu
                        propio bolsillo.
                    </p>
                    <a href="/members" class="hero-cta">Quiero ser miembro</a>
                </div>
                <div class="hero-img">
                    <img src="./ilustrations/undraw_investing_7u74.svg" class="img" alt="">
                </div>
            </div>
        </div>
    </div>
    <main>
        <section class="services">
            <h2 class="subtitle">
                Ofrecemos:
            </h2>
            <section class="grid">
                <div class="items">
                    <div class="item">
                        <i class="fas fa-calculator"></i>
                        <h3 class="service-title">
                            <a href="/detail">Matemáticas</a>
                        </h3>
                        <p>
                            Cálculo, Álgebra y Estadística
                        </p>
                    </div>
                    <div class="item">
                        <i class="fas fa-balance-scale"></i>
                        <h3 class="service-title">
                            <a href="/detail">Derecho</a>
                        </h3>
                        <p>
                            Contabilidad, Normativas y Fiscalización
                        </p>
                    </div>
                    <div class="item">
                        <i class="fas fa-hand-holding-usd"></i>
                        <h3 class="service-title">
                            <a href="/detail">Finanzas</a>
                        </h3>
                        <p>
                            Análisis, Administración y Mercados
                        </p>
                    </div>
                    <div class="item">
                        <i class="fas fa-suitcase"></i>
                        <h3 class="service-title">
                            <a href="/detail">Portafolio</a>
                        </h3>
                        <p>
                            Asesoramiento, Perfil del inversor y Ahorro
                        </p>
                    </div>
                </div>
            </section>
        </section>
        <section class="about-us">
            <div class="grid">
                <div class="about-us-text">
                    <h2 class="subtitle">
                        <a href="/aboutUs">Sobre nosotros:</a>
                    </h2>
                    <p class="paragraph">
                        Somos una organización de matemáticos, economistas y programadores que buscan hacer accesible el
                        mundo financiero para el común de la gente.
                    </p>
                </div>
            </div>
        </section>
        <section class="mission grid">
            <div class="mission-text">
                <div class="mission-paragraph">
                    <h3>¿A quiénes está dirigido?</h3>
                    <p>
                        Estudiantes, profesionales y cualquier persona interesada en aprender.
                    </p>
                </div>
                <div class="mission-paragraph">
                    <h3>¿Necesito conocimientos previos?</h3>
                    <p>
                        ¡No! PlautUs guiará tu camino hacia el bienestar financiero.
                    </p>
                </div>
                <div class="mission-paragraph">
                    <h3>¿Por qué debería usar PlautUs?</h3>
                    <p>
                        PlautUs te asistirá de manera clara, concisa y directa para la toma de decisiones inteligentes.
                    </p>
                </div>
            </div>
            <div class="mission-img">
                <img src="./ilustrations/undraw_professor_8lrt.svg" class="img" alt="">
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/main.js"></script>
</body>

</html>