<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlautUs</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Ubuntu + Fauna One fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@400&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="login-container">
        <div class="login-wrapper">
            <form class="login-form" action="">
                <div class="login-avatar">
                    <i class="fas fa-user-circle"></i>
                </div>
                <h2>
                    Iniciar sesión
                </h2>
                <div class="login-input one">
                    <div class="login-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>Usuario</h5>
                        <input type="text" class="login">
                    </div>
                </div>
                <div class="login-input">
                    <div class="login-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>Contraseña</h5>
                        <input type="password" class="login">
                    </div>
                </div>
                <div class="login-action">
                    <button class="login-button">
                        Ingresar
                    </button>
                    <a href="/users/register">
                        No tenés cuenta? Registrate
                    </a>
                </div>
            </form>
        </div>
    </div>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>
</body>
</html>