<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="login-container">
        <div class="login-wrapper">
            <form class="login-form" action="/users/login" method="POST">
                <div class="login-avatar">
                    <i class="fas fa-user-circle"></i>
                </div>
                <h2>
                    Iniciar sesión
                </h2>
                <% if (typeof errors != "undefined") { %>
                    <% errors.forEach(error => { %>
                     <li style="color:red"><%= error.msg %></li>
                      <% }) %>
                    <% } %>
                <div class="login-input one">
                    <div class="login-icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <div>
                        <h5>E-mail</h5>
                        <input type="email" name="email" class="login">
                    </div>
                </div>
                <div class="login-input">
                    <div class="login-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div>
                        <h5>Contraseña</h5>
                        <input type="password" name="password" class="login">
                    </div>
                </div>
                <div class="login-action">
                    <button class="login-button">
                        Ingresar
                    </button>
                    <a href="/users/register">
                        No tenés cuenta? Registrate
                    </a>
                </div>
            </form>
        </div>
    </div>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="js/main.js"></script>
</body>
</html>