<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlautUs</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Ubuntu + Fauna One fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@400&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <header class="header">
        <h1>
            <a href="/">PlautUs</a>
        </h1>
        <ul class="links-list">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="#">Empezá tu camino</a>
            </li>
            <li>
                <a href="#">Contacto</a>
            </li>
            <li>
                <a href="/users/login">Iniciar sesión</a>
            </li>
        </ul>
    </header>
    <div class="plans">
        <h1>
            Membresías
            </h2>
            <h3>
                Aquí empieza tu mejor inversión.
            </h3>
    </div>
    <div class="table-wrapper">
        <div class="table-container">
            <div class="table-row">
                <div class="table-col">
                    <div class="table-card bg-1">
                        <label for="">Estándar</label>
                        <h3>
                            <sup>$</sup>20
                        </h3>
                        <i class="fas fa-chess-pawn"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Mercados</li>
                            <li>Normativas</li>
                            <li>Fiscalización</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-2">
                        <label for="">Premium</label>
                        <h3>
                            <sup>$</sup>40
                        </h3>
                        <i class="fas fa-chess-bishop"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Pack Derecho</li>
                            <li>Administración financiera</li>
                            <li>Perfil del inversor</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-3">
                        <label for="">Gold</label>
                        <h3>
                            <sup>$</sup>57
                        </h3>
                        <i class="fas fa-chess-rook"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Pack Finanzas</li>
                            <li>Pack Portafolio</li>
                            <li>Contabilidad</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-4">
                        <label for="">Platinum</label>
                        <h3>
                            <sup>$</sup>70
                        </h3>
                        <i class="fas fa-chess-queen"></i>
                        <ul class="platinum">
                            <li>Pack Matemáticas</li>
                            <li>Pack Derecho</li>
                            <li>Pack Finanzas</li>
                            <li>Pack Portafolio</li>
                            <li class="gold">Asesoramiento personalizado</li>
                        </ul>
                        <a href="" class="table-card-button">
                            <span class="platinum">Comprar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="grid">
            <div class="footer-text">
                <h2 class="subtitle">
                    Contacto
                </h2>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            <div class="footer-item">
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/main.js"></script>
</body>
</html>