<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="plans">
        <h1>
            Membresías
        </h1>
        <h3>
            Aquí empieza tu mejor inversión.
        </h3>
        <h4>
            (Precios expresados en USD)
        </h4>
    </div>
    <div class="table-wrapper">
        <div class="table-container">
            <div class="table-row">
                <div class="table-col">
                    <div class="table-card bg-1">
                        <label for="">Estándar</label>
                        <h3>
                            <sup>$</sup>19,<sup>99</sup>
                        </h3>
                        <i class="fas fa-chess-pawn"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Mercados</li>
                            <li>Normativas</li>
                            <li>Fiscalización</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-2">
                        <label for="">Premium</label>
                        <h3>
                            <sup>$</sup>39,<sup>99</sup>
                        </h3>
                        <i class="fas fa-chess-bishop"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Pack Derecho</li>
                            <li>Administración financiera</li>
                            <li>Perfil del inversor</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-3">
                        <label for="">Gold</label>
                        <h3>
                            <sup>$</sup>59,<sup>99</sup>
                        </h3>
                        <i class="fas fa-chess-rook"></i>
                        <ul>
                            <li>Pack Matemáticas</li>
                            <li>Pack Finanzas</li>
                            <li>Pack Portafolio</li>
                            <li>Contabilidad</li>
                        </ul>
                        <a href="" class="table-card-button">
                            Comprar
                        </a>
                    </div>
                </div>
                <div class="table-col">
                    <div class="table-card bg-4">
                        <label for="">Platinum</label>
                        <h3>
                            <sup>$</sup>69,<sup>99</sup>
                        </h3>
                        <i class="fas fa-chess-queen"></i>
                        <ul class="platinum">
                            <li>Pack Matemáticas</li>
                            <li>Pack Derecho</li>
                            <li>Pack Finanzas</li>
                            <li>Pack Portafolio</li>
                            <li class="gold">Asesoramiento personalizado</li>
                        </ul>
                        <a href="" class="table-card-button">
                            <span class="platinum">Comprar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer') %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/main.js"></script>
</body>
</html>