<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="profile-wrapper">
        <h2 class="profile-welcome">¡Hola, usuario!</h2>
        <div class="profile-container">
            <h3>Pack Matemáticas</h3>
            <div class="con-cards">
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Cálculo
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Álgebra
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Estadística
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <h3>Pack Derecho</h3>
            <div class="con-cards">
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Contabilidad
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Normativas
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_reading_list_4boi.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Fiscalización
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <h3>Pack Finanzas</h3>
            <div class="con-cards">
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Análisis
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Administración
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_personal_finance_tqcd.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Mercados
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-container">
            <h3>Pack Portafolio</h3>
            <div class="con-cards">
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_invest_88iw.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_invest_88iw.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Asesoramiento
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_invest_88iw.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_invest_88iw.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Perfil del inversor
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_invest_88iw.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_invest_88iw.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Ahorro
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>