<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="profile-wrapper">
        <h2>¡Hola, usuario!</h2>
        <div class="content">
            <button id="prev" class="btn">
                <i></i>
            </button>
            <div class="con-cards">
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Cálculo - Matemáticas
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Álgebra - Matemáticas
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Estadística - Matemáticas
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="con-img">
                        <img src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                        <img class="blur" src="../ilustrations/undraw_mathematics_4otb.svg" alt="">
                    </div>
                    <div class="con-text">
                        <h2>
                            Estadística - Matemáticas
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, veniam...
                        </p>
                    </div>
                </div>
            </div>
            <button id="prev" class="btn">
                <i></i>
            </button>
        </div>
    </div>
</body>
</html>



<!--
    <nav class="">
            <div class="item">
                <input type="checkbox" name="" id="">
                <label for="check1">Menu</label>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Sobre</a></li>
                </ul>
            </div>
            <div class="item">
                <label for="check2">Cursos</label>
                <input type="checkbox" name="" id="">
                <ul>
                    <li><a href="">Java</a></li>
                    <li><a href="">Banco de Dados</a></li>
                    <li><a href="">Photoshop</a></li>
                </ul>
            </div>
            <div class="item">
                <label for="check3">Material</label>
                <ul>
                    <li><a href="">Artigos</a></li>
                    <li><a href="">Vídeos</a></li>
                </ul>
            </div>
        </nav>
-->