<footer>
    <div class="grid">
        <div class="footer-text">
            <h2 class="subtitle">
                Contacto
            </h2>
        </div>
        <div class="footer-item">
            <a href="#">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <div class="footer-item">
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="footer-item">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="footer-item">
            <a href="">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
    <div class="contact">
        <h2 class="contact-title">
            Hablá con nosotros
        </h2>
        <div class="contact-wrapper">
            <form action="">
                <div class="contact-form">
                    <div class="contact-field-left">
                        <div class="contact-field">
                            <input type="text" placeholder="Nombre completo">
                        </div>
                        <div class="contact-field">
                            <input type="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="contact-field-right">
                        <div class="contact-field">
                            <input type="text" placeholder="Asunto">
                        </div>
                        <div class="contact-field">
                            <input type="text" placeholder="WhatsApp (opcional)">
                        </div>
                    </div>
                </div>
                <div class="contact-field-text">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Tu mensaje"></textarea>
                </div>
                <button class="contact-sendEmail">
                    Enviar mensaje
                </button>
            </form>
            <div class="email-wrapper">
                <img src="/images/email.jpg" alt="">
            </div>
        </div>
        <div class="links-footer">
            <ul>
                <li>
                    <a href="">Declaración de privacidad</a>
                </li>
                <li>
                    <a href="">Términos y condiciones</a>
                </li>
                <li>
                    <a href="">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="">Estudiantes</a>
                </li>
            </ul>
            <h3>
                Copyright © 2020 PlautUs. Todos los derechos reservados.
            </h3>
        </div>
    </div>
    </div>
</footer>