<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlautUs</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Ubuntu + Fauna One fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Fauna+One&family=Ubuntu:wght@400&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>