<header class="header">
    <h1>
        <a href="/">PlautUs</a>
    </h1>
    <ul class="links-list">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/users/editProfile">Tu perfil</a>
        </li>
        <li>
            <a href="/users/logout">Cerrá sesión</a>
        </li>
    </ul>
</header>