<header class="header">
    <h1>
        <a href="/">PlautUs</a>
    </h1>
    <ul class="links-list">
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="#">Empezá tu camino</a>
        </li>
        <li>
            <a href="#">Contacto</a>
        </li>
        <li>
            <a href="/users/login">Iniciar sesión</a>
        </li>
    </ul>
</header>